q<h1>Listing Books</h1>
 
<table>
  <tr>
    <th>ab</th>
    <th>1b</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 
<% @batter=batter %>
  <tr>
    <td><%= batter.ab %></td>
    <td><%= batter.singles %></td>
  </tr>
<% end %>
</table>